cmake-build-debug/
gdkGBA/
inefficient_first/
real_first/
.idea/
ncurses/
roms/Emerald
DongBoyAdvance_Debugger/.idea
DongBoyAdvance_Debugger/cmake-build-debug
shared_memory/
app/.idea
app/cmake-build-debug